In [1]:
import pandas as pd
df = pd.DataFrame({'Country':['China','US','Japan','EU','UK/Australia', 'UK/Netherland'],
               'Number':[100, 150, 120, 90, 30, 2],
               'Value': [1, 2, 3, 4, 5, 6],
               'label': list('abcdef')})
df

         Country  Number  Value label
0          China     100      1     a
1             US     150      2     b
2          Japan     120      3     c
3             EU      90      4     d
4   UK/Australia      30      5     e
5  UK/Netherland       2      6     f

In [3]:
df['Country'].str.split('/', expand=True).stack()

0  0         China
1  0            US
2  0         Japan
3  0            EU
4  0            UK
   1     Australia
5  0            UK
   1    Netherland
dtype: object

In [6]:
df['Country'].str.split('/', expand=True).stack().reset_index(level=1, drop=True)

0         China
1            US
2         Japan
3            EU
4            UK
4     Australia
5            UK
5    Netherland
dtype: object

In [22]:
aaa = df['Country'].str.split('/', expand=True).stack().reset_index(level=1, drop=True).rename('Country')
type(aaa)

pandas.core.series.Series

In [23]:
aaa[0]

'China'

In [15]:
#df[['aaa', 'bbb']] = [[0,0]]
df['aaa'] =0
df['bbb'] =0
df

         Country  Number  Value label  aaa  bbb
0          China     100      1     a    0    0
1             US     150      2     b    0    0
2          Japan     120      3     c    0    0
3             EU      90      4     d    0    0
4   UK/Australia      30      5     e    0    0
5  UK/Netherland       2      6     f    0    0

In [21]:
df['bbb'] = aaa
df

ValueError: cannot reindex from a duplicate axis